* {
  margin: 0px;
  padding: 0px;
  /* outline: dotted black 0.5px */
}

.hero, .header {
  background-color: #23395B;
  color: white;
  padding: 15px 300px 50px 300px;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

a:hover {
  font-size: 22px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.header {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 24px;
}

.right {
  display: inherit;
  gap: 15px;
  flex-wrap: wrap;
  font-size: 18px;
}

.left {
  font-size: 18px;
  height: 30px;
  width: auto;
}

button {
  background-color: #5EB1BF;
  color: white;
  border-radius: 10px;
  padding: 5px 15px;
  font-weight: 600;
  font-size: 18px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  justify-content: space-between;
}

.hero-right {
  border-radius: 20px;
  max-width: 500px;
  border: solid 1px #B9E3C6;
}

.hero-left p {
  font-size: 18px;
}

.four-portraits {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.container img {
  width: 300px;
  height: auto;
  outline: solid #F56476 2px;
  border-radius: 10px;
  gap: 20px;
}

.container p {
  margin-top: 10px;
  font-size: 18px;
}

.quote {
  background-color: #EBD0BC;
  padding: 100px 300px;
}

.quote p {
  text-align: right;
  font-weight: 700;
  font-size: 20px;
}

.quote h3 {
  font-weight: 50;
  font-size: 30px;
  font-style: italic;
}

.footer {
  background-color: #23395B;
  color: whitesmoke;
  text-align: center;
  padding: 20px;
}